/* -- Created by Tivotal -- */

/* -- Google Fonts -- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: #1d1e22;
}

.circle {
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  background: #fff;
  margin: 0 20px;
  border-radius: 50%;
  cursor: default;
}

.circle .inner-circle {
  display: grid;
  place-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #1d1e22;
  font-size: 30px;
}

.circle.aqua {
  color: aqua;
  background: conic-gradient(aqua 0 89%, #303238 89% 100%);
}

.circle.pink {
  color: deeppink;
  background: conic-gradient(deeppink 0 48%, #303238 48% 100%);
}

.circle.gold {
  color: gold;
  background: conic-gradient(gold 0 97%, #303238 97% 100%);
}
